Vagrant.configure("2") do |config|
{% for var in testservers %}

  config.vm.define "{{ var.name }}" do |{{ var.name }}|
    {{ var.name }}.vm.box = "{{ var.distro }}"
    {{ var.name }}.vm.hostname = '{{ var.name }}'
    {{ var.name }}.vm.box_url = "{{ var.url }}"
    {{ var.name }}.vm.provider :virtualbox do |v|
      v.customize ["modifyvm", :id, "--natdnshostresolver1", "on"]
      v.customize ["modifyvm", :id, "--memory", {{ var.memory }}]
      v.customize ["modifyvm", :id, "--name", "{{ var.name }}"]
    end
  end
{% endfor %}
end
